@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'ericsson_capitalregular';
  src: url($root-path + '/dist/fonts/ericssoncapital.eot');
  src: url($root-path + '/dist/fonts/ericssoncapital.eot?#iefix') format('embedded-opentype'),
       url($root-path + '/dist/fonts/ericssoncapital.woff2') format('woff2'),
       url($root-path + '/dist/fonts/ericssoncapital.woff') format('woff'),
       url($root-path + '/dist/fonts/ericssoncapital.ttf') format('truetype'),
       url($root-path + '/dist/fonts/ericssoncapital.svg#ericsson_capitalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
